@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Font Definition */
@font-face {
  font-family: 'Rubik80sFade';
  src: url('/fonts/Rubik80sFade-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #050505; 
  color: white;
  display: block; 
  min-height: 100vh;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; /* Verhindert horizontales Scrollen global */
}